@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  --font-sans:
    museo-sans-rounded, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;

  --color-black: #1e1e1f;
  --color-white: #fff;
}


.content {
  li {
    list-style-type: square;
  }

  li::marker {
    color: currentColor;
  }
}